#menu{
    background: black;
    height: 80px;
    width: 100%;
    position: relative;
}
ul{
    position: absolute;
}

li {
    float: left;
    color: gray;
    font-size: 35px;
    list-style: none;
    padding-left: 10px;
    top: 10px;

}